seance_02/exemple-basique-2.dtd

<!ELEMENT livres (livre+)>
<!ELEMENT livre (auteur, titre)>
<!ATTLIST livre
          genre CDATA #REQUIRED
          isbn CDATA #REQUIRED>
<!ELEMENT auteur (prenom, nomDeFamille)>
<!ATTLIST auteur
          nationalite CDATA #REQUIRED>
<!ELEMENT prenom (#PCDATA)>
<!ELEMENT nomDeFamille (#PCDATA)>
<!ELEMENT titre (#PCDATA)>
